
#image{
  width:20%;
}

#titre{
	color : black;
	 font-size: 5em;
	 line-height : 50%;
	 margin-left: 40%;
	 /* margin-top: 20; */
}

#titreCar{
	color : white;
	margin-bottom : 10%;
	margin-top : 0.8%;
	font-size: 2em;
	margin-left : 44%;
	text-align:center;
}

#Encadre{
	background-color :black;
	color : white;
	width : 25%;
	line-height : 48px;
	margin-top : 20%;
	margin-left : 66%;
	text-align:center;
	z-index : 1;
}

#carousel{
	width : 70%;
	margin-top: 6%;
	margin-left : 15%;
}

.left,.right{
	color : black;
}

#bouton{
width : 40%;
color : black;

}

#titreCar,#titre,#Encadre{
	font-weight: bold;
}

h4,h2{
	margin-top: 8%;
	text-align : center;
}

#video{
	font-size: 10 em;
	font-weight :bold;
	height : 250px;
	width : 50%;
	margin-left : 23%;
	margin-top: 1%;
	text-align : center;
	color : white;
	background-color : black;
	z-index : 2;
}

 .toggler { 
	width: 500px; 
	height: 200px; 
	position: relative; 
 }
 
#button { 
	padding: .5em 1em;
	text-decoration: none; 
}

#effect { 
	width: 240px;  
	padding: 1em; 
	border: 1px solid #000; 
	background-color : red;
	color: #333; 
}

.newClass { 
	text-indent: 40px; 
	letter-spacing: .4em; 
	width: 410px; 
	height: 120px; 
	padding: 30px; 
	margin: 10px; 
	font-size: 1.1em; 
}
  