#chatbox {
    position: absolute;
    bottom: 0;
    right: 3vh;
    height: 6vh;
    width: 20vw;
    background: var(--color-primary);
    border: black solid 3px;
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

#chatbox-header {
    height: 6vh;
}

#chatbox.closed:hover {
    height: 8vh !important;
    transition: 200ms;
}

#chatbox h1 {
    margin-top: 2vh;
    text-align: center;
    flex: 1;
}

#chatbox>#chatbox-header, #chatbox>#chatbox-footer {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#chatbox-convs {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

#chatbox-convs>li {
    width: 95%;
    padding: 5%;
    list-style: none;
    border-bottom: black solid 1px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 2.5vh;
    font-weight: bold;
}

#chatbox-convs>li:hover {
    background: lightgray;
    transition: 200ms;
    cursor: pointer;
}

.pp {
    border-radius: 100px;
    width: 5vh;
    height: 5vh;
    margin-right: 1vw;
}

#chatbox .chatbox-btn, #chatbox-header {
    cursor: pointer;
}

#chatbox .chatbox-btn:hover {
    filter: invert(100%);
    transition: 300ms;
}

#chatbox-box {
    border-radius: 10px;
    background: white;
    height: 37.5vh;
    width: 95%;
    overflow-y: scroll;
}

.chat-msg {
    width: 50%;
    max-width: 50%;
    background: var(--color-primary-light);
    color: black;
    padding: 2%;
    margin: 2%;
    border-radius: 10px 10px 10px 0;
    font-size: 1.5vh;
}

.user {
    background: var(--color-primary-dark);
    color: white;
    margin-left: 44%;
    border-radius: 10px 10px 0 10px;
}

#chatbox-footer {
    margin-top: 2vh;
}

#chatbox-footer>input {
    width: 85%;
    border: none;
    height: 3vh;
    border-radius: 10px;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1.75vh;
    font-weight: bold;
}
