#chatbox {
    position: absolute;
    bottom: 0;
    right: 3vh;
    height: 6vh;
    width: 20vw;
    background: var(--color-primary);
    color: white;
    border: black solid 3px;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    transition: 200ms;
}

#chatbox-header {
    height: 6vh;
}

.opened {
    height: 50vh !important;
}

#chatbox.closed:hover {
    height: 8vh !important;
}

#chatbox h1 {
    margin-top: 2vh;
    text-align: center;
    font-size: 2vh;
    flex: 1;
}

#chatbox>#chatbox-header, #chatbox>#chatbox-footer {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#chatbox-convs {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

#chatbox-convs>li {
    width: 95%;
    padding: 5%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 2.5vh;
    font-weight: bold;
}

#chatbox-convs>li:hover {
    background: var(--color-primary-light);
    transition: 200ms;
    cursor: pointer;
}

.pp {
    border-radius: 100px;
    width: 5vh;
    height: 5vh;
    margin-right: 1vw;
    border: white solid 2px;
}

#chatbox .chatbox-btn, #chatbox.closed #chatbox-header {
    cursor: pointer;
}

#chatbox .chatbox-btn {
    filter: invert(100%);
}

#chatbox .chatbox-btn:hover {
    filter: invert(0%);
    transition: 300ms;
}

#chatbox-box {
    background: var(--color-primary);
    height: 40vh;
    width: 100%;
    overflow-y: scroll;
}

.chat-msg, .bot-msg, .bot-rep {
    width: 60%;
    max-width: 60%;
    background: white;
    color: black;
    padding: 3%;
    margin: 5% 2% 2%;
    font-size: 1.75vh;
}

.user, .bot-rep {
    background: var(--color-primary-dark);
    margin-left: 30%;
}

#chatbox-footer {
    margin-top: 0.5vh;
}

#chatbox-footer>input {
    width: 90%;
    border: none;
    height: 2.5vh;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 1.25vh;
    font-weight: bold;
}

#chatbox-send {
    height: 2vh;
    width: 2vh;
}

.bot-msg, .bot-rep {
    width: 90%;
    max-width: 90%;
}

.bot-rep {
    margin: 5% 2% 2%;
}

#bot-choose-ans {
    display: block;
    margin: 10% 0 10% 0;
    width: 100%;
    color: white;
    font-size: 1.75vh;
    text-align: center;
}

.bot-rep:hover {
    background: var(--color-primary-light);
    cursor: pointer;
    transform: translateX(2.5%);
    width: 88%;
    transition: 200ms;
}

/* Extra small devices */
@media (max-width: 768px) {
    #chatbox {
        width: 100vw;
        right: 0;
        height: 10vh;
    }

    .opened {
        height: 95vh !important;
    }

    #chatbox.closed:hover {
        height: 10vh !important;
    }

    #chatbox h1 {
        font-size: 3vh;
        margin-top: 5vh;
    }

    .chatbox-btn {
        width: 3vh;
        margin-top: 2.5vh;
    }

    #chatbox-header {
        padding-bottom: 2.5vh;
    }

    #chatbox-box {
        height: 75vh;
    }

    #chatbox-footer>input {
        height: 5vh;
        font-size: 2.5vh;
        margin-top: 2.5vh;
    }

    #chatbox-send {
        height: 3.5vh;
        width: auto;
    }
}

/* Small devices */
@media (max-width: 992px) {
    #chatbox {
        width: 100vw;
        right: 0;
        height: 10vh;
    }

    .opened {
        height: 85vh !important;
    }

    #chatbox.closed:hover {
        height: 10vh !important;
    }

    #chatbox h1 {
        font-size: 3vh;
        margin-top: 5vh;
    }

    .chatbox-btn {
        width: 3vh;
        margin-top: 2.5vh;
    }

    #chatbox-header {
        padding-bottom: 2.5vh;
    }

    #chatbox-box {
        height: 65vh;
        /*box-shadow: inset 0 0 75px var(--color-primary-dark);*/
    }

    #chatbox-footer>input {
        height: 5vh;
        font-size: 2.5vh;
        margin-top: 2.5vh;
    }

    #chatbox-send {
        height: 3.5vh;
        width: auto;
    }
}

/* Medium devices */
@media (max-width: 1200px) {
    #chatbox {
        width: 33vw;
    }
}