.container, .container a, .carousel-img {
    width: 80vw;
}

.container {
    margin-top: 2.5vh;
    height: 20vh;
    color: var(--color-light);
    background: var(--color-home-1);
}

.container a {
    display: block;
    position: absolute;
    bottom: 5vh;
    text-align: center;
    font-size: 8vh;
    font-family: "League Gothic", "OpenSans", sans-serif;
    letter-spacing: 3px;
    color: var(--color-light);
    text-shadow: black 0 0 2vh;
    text-decoration: none;
}

.container a:hover {
    color: var(--color-home-1);
}

.slick-slide {
    text-align: center;
    color: #419be0;
    background: white;
}

.carousel-img {
    max-height: 20vh;
    object-fit: cover;
}

.slick-dots {
    bottom: 0 !important;
}

.slick-dots li button::before {
    font-size: 1vh !important;
    color: var(--color-light) !important;
}

.slick-prev, .slick-next {
    z-index: 10;
}

.slick-prev {
    left: 3vw !important;
}

.slick-next {
    right: 3vw !important;
}

.slick-prev::before, .slick-next::before {
    z-index: 100;
    color: black !important;
    font-size: 3vh !important;
}

#body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 105%;
    position: relative;
    height: 40vh;
    margin-top: 5vh;
}

video {
    height: 40vh;
    width: auto;
}

#vid-invite {
    position: absolute;
    z-index: 10;
    left: 35vw;
    width: 15vw;
    height: 15vh;
    background: var(--color-home-2);
    color: var(--color-light);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.2vh;
}

#vid-invite>span {
    text-align: center;
    font-weight: bold;
    font-size: 1.75vh;
}

#vid-invite>a {
    color: black;
    background: var(--color-light);
    text-decoration: none;
    padding: 0.5vh 1.5vw;
    font-size: 1.5vh;
}

#vid-invite>a:hover {
    color: var(--color-light);
    background: var(--color-home-1);
}

#need-help {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin-right: 5vw;
    width: 20vw;
    text-align: center;
}

#need-help h3 {
    font-size: 2.5vh;
    margin: 0;
    text-transform: uppercase;
}

#need-help p {
    font-size: 1.75vh;
}

#need-help a {
    color: var(--color-home-3);
}

#need-help a:hover {
    color: var(--color-home-2);
}

#need-help img {
    margin: 1.5vh;
    width: 7.5vh;
    height: 7.5vh;
}


/* Extra-small devices (Phones) */
@media (max-width: 767px) {
    .container, .container a, .carousel-img {
        width: 90vw;
    }

    .container a {
        font-size: 5vh;
        bottom: 6vh;
    }

    #body {
        flex-direction: column;
        height: unset;
    }

    video {
        width: 90vw;
        height: auto;
    }

    #vid-invite {
        position: unset;
        width: 35vw;
        margin-top: 5vh;
        padding: 1vh;
    }

    #need-help {
        width: 90vw;
        margin-right: 0;
        margin-top: 5vh;
    }
}

/* Small devices (Tablets) */
@media (min-width: 768px) and (max-width: 991px) {
    .container, .container a, .carousel-img {
        width: 90vw;
    }

    .container a {
        font-size: 5vh;
        bottom: 6vh;
    }

    #body {
        flex-direction: column;
        height: unset;
    }

    video {
        width: 90vw;
        height: auto;
    }

    #vid-invite {
        position: unset;
        width: 35vw;
        margin-top: 5vh;
        padding: 1vh;
        transition-timing-function: linear;
    }

    #need-help {
        width: 90vw;
        margin-right: 0;
        margin-top: 5vh;
    }
}

/* Medium devices (Laptops) */
@media (min-width: 992px) and (max-width: 1199px) {
}