/* Large devices (Desktops) */

#menu {
    width: 10vw;
    height: 98vh;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#menu #logo {
    width: 5vw;
    height: 5vw;
    background: var(--color-light);
    border-radius: 1000px;
    padding: 1vh;
}

#menu>ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#menu>ul>li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#menu>ul>li>a {
    color: var(--color-light);
    text-decoration: none;
    font-size: 2vh;
    font-weight: bold;
}

#nav>li>a:hover {
    filter: brightness(85%);
}

#infos>li>a {
    font-size: 1.3vh !important;
    color: lightgray !important;
}

#infos>li>a:hover {
    filter: brightness(125%);
}

#nav>li {
    margin-bottom: 2vh;
}

#nav>li>a {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.img-link {
    width: 4vw;
    height: 4vw;
    background: var(--color-light);
    border-radius: 1000px;
    padding: 1vh;
}


/* Extra-small devices (Phones) */
@media (max-width: 767px) {
    #menu {
        height: 10vh;
        width: 100vw;

        flex-direction: row;
        align-items: flex-start;

        padding: 2vw 2vw 2vh;
    }

    #menu>ul {
        flex-direction: row;
    }

    #nav {
        flex: 1;
    }

    #nav>li {
        margin-bottom: 0;
    }

    #nav>li>a {
        font-size: 3vw !important;
    }

    #infos {
        display: none !important;
    }

    .img-link, #menu #logo {
        width: 10vw;
        height: 10vw;
    }
}

/* Small devices (Tablets) */
@media (min-width: 768px) and (max-width: 991px) {
    #menu {
        height: 10vh;
        width: 100vw;

        flex-direction: row;
        align-items: flex-start;

        padding: 2vw 2vw 2vh;
    }

    #menu>ul {
        flex-direction: row;
    }

    #nav {
        flex: 1;
    }

    #nav>li {
        margin-bottom: 0;
    }

    #nav>li>a {
        font-size: 2vw !important;
    }

    #infos {
        display: none !important;
    }

    .img-link, #menu #logo {
        width: 7.5vw;
        height: 7.5vw;
    }
}

/* Medium devices (Laptops) */
@media (min-width: 992px) and (max-width: 1199px) {
}