:root {
	--color-primary: rgb(200, 0, 0);
	--color-primary-light: rgb(230, 0, 0);
	--color-primary-dark: rgb(170, 0, 0);

	--color-secondary: rgb(0, 200, 0);
	--color-secondary-light: rgb(0, 230, 0);
	--color-secondary-dark: rgb(0, 170, 0);

	--color-tertiary: rgb(0, 0, 200);
	--color-tertiary-light: rgb(0, 0, 230);
	--color-tertiary-dark: rgb(0, 0, 170);
};