@@ -1,18 +1,18 @@
.container {
    margin-top: 5vh;
    width: 75vw;
    height: 15vh;
    margin-top: 2.5vh;
    width: 80vw;
    height: 20vh;
    color: var(--color-light);
    background: var(--color-home-1);
}

.container h3 {
.container a {
    display: block;
    position: absolute;
    bottom: -7.5vh;
    width: 75vw;
    bottom: -2.5vh;
    width: 80vw;
    text-align: center;
    font-size: 10vh;
    font-size: 8vh;
    font-family: "League Gothic", "OpenSans", sans-serif;
    letter-spacing: 3px;
    color: var(--color-light);
@ -27,12 +27,17 @@
}}
.carousel-img {
    max-height: 20vh;
    width: 75vw;
    width: 80vw;
    object-fit: cover;
}

.slick-dots {
    bottom: 0 !important;
}

.slick-dots li button::before {
    font-size: 1vh !important;
    color: var(--color-light) !important;
}

.slick-prev, .slick-next {
@ -52,3 +57,86 @@
    color: black !important;
    font-size: 3vh !important;
}

#body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 105%;
    position: relative;
    height: 40vh;
    margin-top: 5vh;
}

video {
    height: 40vh;
    width: auto;
}

#vid-invite {
    position: absolute;
    z-index: 1000;
    left: 35vw;
    width: 15vw;
    height: 15vh;
    background: var(--color-home-2);
    color: var(--color-light);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.2vh;
}

#vid-invite>span {
    text-align: center;
    font-weight: bold;
    font-size: 1.75vh;
}

#vid-invite>a {
    color: black;
    background: var(--color-light);
    text-decoration: none;
    padding: 0.5vh 1.5vw;
    font-size: 1.5vh;
}

#vid-invite>a:hover {
    color: var(--color-light);
    background: var(--color-home-1);
}

#need-help {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin-right: 5vw;

}

#need-help h3 {
    font-size: 2.5vh;
    margin: 0;
    text-transform: uppercase;
}

#need-help p {
    font-size: 1.75vh;
}

#need-help a {
    color: var(--color-home-3);
}

#need-help a:hover {
    color: var(--color-home-2);
}

#need-help img {
    margin: 1.5vh;
    width: 7.5vh;
    height: 7.5vh;
}