#chatbox {
    position: fixed;
    bottom: 2vh;
    right: 3vh;
    height: 6vh;
    width: 20vw;
    background: var(--color-chatbox-1);
    color: var(--color-chatbox-3);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    z-index: 1000;
}

#chatbox-header {
    height: 6vh;
}

.opened {
    height: 50vh !important;
}

#chatbox.closed:hover {
    height: 8vh !important;
}

#chatbox h1 {
    margin-top: 3vh;
    text-align: center;
    font-size: 4vh;
    flex: 1;
    font-family: "League Gothic", "OpenSans", sans-serif;
    letter-spacing: 3px;
}

#chatbox>#chatbox-header, #chatbox>#chatbox-footer {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#chatbox-convs {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

#chatbox-convs>li {
    width: 95%;
    padding: 5%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 2.5vh;
    font-weight: bold;
    background: var(--color-chatbox-1);
}

#chatbox-convs>li:hover {
    filter: brightness(90%);
    cursor: pointer;
}

.pp {
    border-radius: 100px;
    width: 5vh;
    height: 5vh;
    margin-right: 1vw;
    object-fit: cover;
    border: var(--color-chatbox-3) solid 2px;
}

#chatbox .chatbox-btn, #chatbox.closed #chatbox-header {
    cursor: pointer;
}

#chatbox .chatbox-btn {
    filter: invert(100%);
    height: 2vh;
    width: 2vh;
}

#chatbox .chatbox-btn:hover {
    filter: invert(0%);
}

#chatbox-box {
    height: 40vh;
    width: 100%;
    overflow-y: scroll;
}

.chat-msg, .bot-msg, .bot-rep {
    width: 60%;
    max-width: 60%;
    background: var(--color-chatbox-3);
    color: black;
    padding: 3%;
    margin: 5% 5% 2%;
    font-size: 1.75vh;
}

.user, .bot-rep {
    background: var(--color-chatbox-2);
}

.user {
    margin-left: 30%;
}

#chatbox-footer {
    margin-top: 0.5vh;
}

#chatbox-footer>input {
    width: 90%;
    border: none;
    height: 2.5vh;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 1.25vh;
    font-weight: bold;
}

#chatbox-send {
    height: 2vh;
    width: 2vh;
}

.bot-msg, .bot-rep {
    width: 85%;
    max-width: 85%;
}

.bot-msg>a {
    color: var(--color-chatbox-1);
}

.bot-msg>a:hover {
    filter: brightness(60%);
}

#bot-choose-ans {
    display: block;
    margin: 10% 0 10% 0;
    width: 100%;
    color: var(--color-chatbox-3);
    font-size: 1.75vh;
    text-align: center;
}

.bot-rep:hover {
    background: var(--color-chatbox-3);
    color: var(--color-chatbox-1);
    cursor: pointer;
    transform: translateX(2.5%);
    width: 88%;
}


/* Extra-small devices (Phones) */
@media (max-width: 767px) {
    #chatbox {
        width: 100vw;
        right: 0;
        bottom: 3.5vh;
        height: 7.5vh;
    }

    .opened {
        height: 80vh !important;
    }

    #chatbox.closed:hover {
        height: 7.5vh !important;
    }

    #chatbox h1 {
        font-size: 4vh;
        margin-top: 5vh;
    }

    .chatbox-btn {
        width: 3vh;
        margin-top: 2.5vh;
    }

    #chatbox-header {
        padding-bottom: 2.5vh;
    }

    #chatbox-box {
        height: 60vh;
    }

    #chatbox-footer>input {
        height: 5vh;
        font-size: 2.5vh;
        margin-top: 2.5vh;
        width: 70vw;
    }

    #chatbox-send {
        height: 5vh !important;
        width: auto !important;
    }
}

/* Small devices (Tablets) */
@media (min-width: 768px) and (max-width: 991px) {
    #chatbox {
        width: 100vw;
        right: 0;
        height: 8vh;
        bottom: 3vh;
    }

    .opened {
        height: 75vh !important;
    }

    #chatbox.closed:hover {
        height: 8vh !important;
    }

    #chatbox h1 {
        font-size: 3vh;
        margin-top: 5vh;
    }

    .chatbox-btn {
        width: 3vh;
        margin-top: 2.5vh;
    }

    #chatbox-header {
        padding-bottom: 2.5vh;
    }

    #chatbox-box {
        height: 55vh;
        /*box-shadow: inset 0 0 75px var(--color-primary-dark);*/
    }

    #chatbox-footer>input {
        height: 5vh;
        font-size: 2.5vh;
        margin-top: 2.5vh;
    }

    #chatbox-send {
        height: 3.5vh;
        width: auto;
    }
}

/* Medium devices (Laptops) */
@media (min-width: 992px) and (max-width: 1199px) {
    #chatbox {
        width: 33vw;
    }
}