#frame{
    width:75%; 
    margin: 0 auto;
}


#topicsBox{
    margin-bottom: 30px;
    background-color: grey;

}

#header{
    margin-bottom: 50px;
}


/*center a div*/
#sujet{
    display: table;
    margin: 0 auto;
   margin-bottom: 10px; 

}

#recherche{
    display: table;
    margin: 0 auto;
   margin-bottom: 30px;

}

#rechercheForm{
    display: table;
    margin: 0 auto;
   margin-bottom: 30px;

}

#creer{
    display: table;
    margin: 0 auto;
   margin-bottom: 30px;

}

#creerForm{
    display: table;
    margin: 0 auto;
   margin-bottom: 30px;
}

.line{ 
   width: 72.7%;
    height: 47px;
    border-bottom: 1px solid black;
    position: absolute;
}


#rechercherTopic {
   
    display: table;
    margin: 0 auto;
    margin-bottom: 50px;
    background-color: grey;
    width: 100%;
    

}

#creerTopic h2{
    margin-bottom: 30px;
}

#creerTopic{

    display: table;
    margin: 0 auto;
    margin-bottom: 50px;
    background-color: grey;
    width: 100%;

}

#creerTopic .btn {
    color: black;
    background-color: white;
    border: black;
    

}

#rechercherTopic .btn{
    color: black;
    background-color: white;
    border: black;
    
}