th ,td{
	padding: 10px;
	border-bottom: 1px solid #ddd;
}

form {
	margin-top: 10vh;
}

#derniers-topics{
	padding-top: 30px;
}

a{
	text-decoration: none;
	color: #0582a4;
	font-weight: 700;
}

a:hover{
	color: red;
}

table * {
	font-size: 1.8vh;
}

#btnCreationArticle{
	font-size: 3vh;
	padding: 5px 20px 5px 20px;
	font-family: "League Gothic", "OpenSans", sans-serif;
	background-color: var(--color-action-3);
	color: var(--color-light);
	border: var(--color-action-3) 2px solid;
}

#btnCreationArticle:hover{
	color: var(--color-action-3);
	background: var(--color-light);
}