#supprimerArticle{
	font-family: "League Gothic", "Open Sans", "Serial";
	font-size: 3.5vh;
	background-color: red;
	color: white;
	font-weight: 700;
	border: white 2px solid;
}

#supprimerArticle:hover{
	background-color: white;
	color: red;
	border: red 2px solid;
}

button,input[type="submit"]{
		font-family: "League Gothic", "Open Sans", "Serial";
	font-size: 3.5vh;
}
#modifierTitre{
	color: white;
	background-color: blue;
	border: white 2px solid;
}

#modifierTitre:hover{
	color: blue;
	background-color: white;
	border: blue 2px solid;
}

#modifierAccroche{
	color: white;
	background-color: blue;
	border: white 2px solid;
}

#modifierAccroche:hover{
	color: blue;
	background-color: white;
	border: blue 2px solid;
}

#modifierImage{
	color: white;
	background-color: blue;
	border: white 2px solid;
}

#modifierImage:hover{
	color: blue;
	background-color: white;
	border: blue 2px solid;
}

#modifierTexte{
	color: white;
	background-color: blue;
	border: white 2px solid;
}

#modifierTexte:hover{
	color: blue;
	background-color: white;
	border: blue 2px solid;
}

#modifierArticle{
	color: white;
	background-color: green;
	border: white 2px solid;
}

#modifierArticle:hover{
	color: green;
	background-color: white;
	border: green 2px solid;
}