#mapid{
	margin-top: 50px;
	height: 30vh;
	width: 50vh;
}

.iconeListe{
	height: 25px;
	width: 25px;
}

.titreListe{
	font-size: 25px;
	font-weight: 600;
}

#listeResto, #listeLogement{
	border: 2px solid #eeeeee;
	margin : 5px;
	padding: 5px;
	width: 400px;
}

#listeResto:hover, #listeLogement:hover{
	background-color: #dddddd;

}

#listeCROUS{
	list-style: none;
}

.imgPop{
	height: 30%;
	width: 40%;
	padding-left: 30%;
	justify-content: center;
}

.popup{
	font-size: 20px;
	font-weight: 600;
}