<link rel="stylesheet" href="http://pjs4.ulyssebouchet.fr/View/css/style.css">
<link rel="stylesheet" href="http://pjs4.ulyssebouchet.fr/View/css/chatbox.css">

<div id="chatbox" class="closed">
    <div id="chatbox-header"><h1>Preclarity Chat</h1></div>
    <div id="chatbox-box"></div>
    <div id="chatbox-footer"></div>
</div>

<!-- JQuery -->
<script src="http://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>

<!-- JS Chatbox -->
<script src="http://pjs4.ulyssebouchet.fr/View/js/chatbox.js"></script>