#forms {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 75vw;
}

form {
    padding: 2vh;
    margin-top: 7.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

form h1 {
    font-size: 3vh;
}

#forms #bar {
    width: 0.25vw;
    height: 70vh;
    background: var(--color-dark);
    position: relative;
}

#forms #bar::before {
    position: absolute;
    top: 32.5vh;
    left: -3.5vh;
    font-size: 5vh;
    font-weight: bold;
    content: "OU";
    background: var(--color-light);
}

label {
    margin-top: 2.5vh;
    background: var(--color-dark);
    color: var(--color-light);
    font-size: 1.5vh;
    padding: 1.5%;
    width: 25vw;
    border: var(--color-dark) solid 0.25vh;
}

input {
    background: var(--color-light);
    color: var(--color-dark);
    font-size: 2.5vh;
    font-weight: bold;
    padding: 1.5%;
    width: 25vw;
    border: var(--color-dark) solid 0.25vh;
}

input:focus {
    background: var(--color-dark);
    color: var(--color-light);
}

input[type="submit"] {
    margin-top: 7.5vh;
    background: var(--color-dark);
    color: var(--color-light);
    border: var(--color-dark) solid 0.25vh;
}

input[type="submit"]:hover{
    cursor: pointer;
    background: var(--color-light);
    color: var(--color-dark);
}

input[type="radio"] {
    display: none;
}

h6 {
    margin-top: 2.5vh;
    margin-bottom: 0;
    font-size: 1.5vh;
    font-weight: normal;
}

#images {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 25vw;
}

#images img {
    height: 5vh;
    width: 5vh;
}

input[type="radio"]+label:hover {
    cursor: pointer;
}

input[type="radio"]:checked+label {
    background-color: var(--color-light);
}

.img {
    width: unset;
}

/* Extra-small devices (Phones) */
@media (max-width: 767px) {
    #forms {
        flex-direction: column;
        justify-content: space-between;
    }

    #forms #bar {
        height: 0.2vh;
        width: 75vw;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }

    #forms #bar::before {
        top: -3.5vh;
        left: 45%;
    }

    form {
        margin-top: unset;
        width: 75vw;
        height: unset;
    }

    label, input, #images {
        width: 100%;
    }
}

/* Small devices (Tablets) */
@media (min-width: 768px) and (max-width: 991px) {
    #forms {
        flex-direction: column;
        justify-content: space-between;
    }

    #forms #bar {
        height: 0.2vh;
        width: 75vw;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }

    #forms #bar::before {
        top: -3.5vh;
        left: 25vh;
    }

    form {
        margin-top: unset;
        width: 75vw;
        height: unset;
    }

    label, input, #images {
        width: 100%;
    }
}

/* Medium devices (Laptops) */
@media (min-width: 992px) and (max-width: 1199px) {
}