ul#users-list {
    width: 70vw;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    list-style: none;

}

li#list-header {
    background: var(--color-action-5);
    border: var(--color-action-5) solid 5px;
    color: var(--color-light);
    font-weight: bold;
}

li.user-list {
    width: 70vw;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly ;
    align-items: center;

    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    padding: 1%;
    border-bottom: var(--color-action-5) solid 2px;
}

li.user-list>* {
    width: 17.5vw;
}

span.pseudo {
    font-weight: bold;
}